div#main-container {
  margin: 0px !important;
}

div.panel {
  margin-top: 10px !important;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group {
  margin-top: 2px;
  margin-bottom: 0px;
}

label.col-sm-3 control-label{
  margin-bottom: 50px;
}
